body {
    margin: 0;
    padding: 0;

    min-height: 100%;

    background-color: dimgrey;

    /* font-family: 'Roboto', sans-serif; */
}

/* p {
    font-size: 20pt;
    line-height: 50px;
} */

#header {
    width: 100%;
    height: 75px;

    position: absolute;
    top: 0;

    background-color: slategray
}

#footer {
    width: 100%;
    height: 75px;

    position: sticky;
    bottom: 0;

    background-color: slategray
}

#sidebar {  
    height: 100%;
    width: 48px;

    position: fixed;
    top: 0;

    z-index: 1;

    background-color: silver;
}

#wrapper {
    margin-top: 100px;
    /* margin-left: 50px; */
    /* background-color: green; */
}

.container {
    margin: 20px auto;
    padding: 0 20px;

    width: 80%;
    height: auto;

    background-color: white;
}

/* Table Styles */
table.spaced {
    border-spacing: 20px;
}

table.spaced td{
    margin: 0;
    padding: 0;

    width: 20%;
    height: 15%;
    
    background-color: lightgray;

    transition: background-color .5s;
}

table.spaced td:hover {
    background-color: orange;
}

table.spaced h2 {
    margin: 0;
    padding: 0;



    text-align: center;
    line-height: 150px;
}
